.movie-card {
    width: 100%;
    height: 330px;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid #555555;
    border-radius: 10px;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(43, 41, 41, 0.9);
    opacity: 0;
    transition: all 1s;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
    border-radius: 10px;
}

/* PC 이상에서만 hover 적용 */
@media (min-width: 768px) {
    .overlay:hover {
        opacity: 1;
    }

    .movie-card:hover {
        border: 4px solid #ffffff;
        transform: scale(1.3) translateZ(20px);
        z-index: 2;
    }
}